# Server
PORT=3000
GOOGLE_REDIRECT_URI=http://localhost:3000/google/callback

# Firestore
USE_FIRESTORE_EMULATOR=false
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080

# Vertex AI
GOOGLE_APPLICATION_CREDENTIALS=./key.json
GOOGLE_CLOUD_PROJECT_ID=your-project-id
GOOGLE_CLOUD_LOCATION=global
GOOGLE_CLOUD_MODEL_ID=gemini-2.5-pro

# Admin (created automatically on first startup)
DEFAULT_ADMIN_EMAIL=admin@bestofmine.com
DEFAULT_ADMIN_PASSWORD=1e669e86409c79ce

# Security
JWT_SECRET=1e669e86409c79ce6e4ff62ef6b2fbb063146fae1e8841149994834cda3ca5b6
ENCRYPTION_KEY=1e669e86409c79ce6e4ff62ef6b2fbb063146fae1e8841149994834cda3ca5b6